/* =======================
   :root - CSS Variables
   ======================= */
   :root {
    /* Primärfarben */
    --color-primary: #003366; /* Tiefes Marineblau für Vertrauen und Seriosität */
    --color-primary-dark: #002244; /* Dunkleres Blau für Akzente und Hervorhebungen */
    --color-secondary: #006699; /* Klareres Blau für subtile Akzente */
    --color-secondary-dark: #004466; /* Intensiveres Blau für Details */

    /* Akzentfarben */
    --color-accent: #FFA500; /* Dezentes Orange für Highlights (z.B. Call-to-Actions) */
    --color-accent-light: #FFBF80; /* Helleres Orange für Hover-Effekte */

    /* Textfarben */
    --color-text: #333333; /* Dunkles Grau für Haupttexte */
    --color-text-light: #555555; /* Mittleres Grau für sekundäre Texte */

    /* Hintergrundfarben */
    --color-bg: #FFFFFF;

    /* Footer und Highlights */
    --color-footer-bg: #003366; /* Gleiche Farbe wie Primär, für Konsistenz */
    --color-footer-text: #FFFFFF; /* Weiß für den Kontrast im Footer */

    /* Fehler und Warnungen */
    --color-error: #CC3300; /* Seriöses Rot für Fehler */
    --color-shadow: rgba(0, 0, 0, 0.05); /* Sehr dezenter Schatten */
    --color-shadow-dark: rgba(0, 0, 0, 0.15); /* Etwas stärkerer Schatten */
    
    /* Fonts */
    --font-primary: 'Montserrat', sans-serif;

    /* Spacing */
    --spacing-sm: 1rem;
    --spacing-md: 2rem;
    --spacing-lg: 4rem;

    /* Transitions & Animations */
    --transition-speed: 0.3s;
    --animation-speed: 0.6s;
}

/* =======================
   Base Styles
   ======================= */

/* Reset & Base Styles */
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-primary);
    color: var(--color-text);
    line-height: 1.6;
    background-color: var(--color-bg);
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    font-weight: 500;
}

h3 {
    font-size: 3.7rem;
    text-align: center;
    margin-bottom: 2rem;
    color: var(--color-primary);
    line-height: 1.2;
}
@media (max-width: 768px) {
    h3 {
        font-size: 2rem;
    }
}

p,
ul {
    color: var(--color-text-light);
    margin-left: auto;
    margin-right: auto;
    margin-bottom:2rem;
    font-size: 1.25rem;
}

p {
    line-height:1.6;
}

ul {
    line-height:1.8;
}

@media (max-width: 768px) {
    p,
    ul {
        margin-bottom:1.2rem;
        font-size: 1rem;
    }
}

/* =======================
   Layout Components
   ======================= */

/* NavBar */
.navbar ul {
    margin-right: 0;
    margin-bottom: 0;
    font-size: 1rem;
}

/* Content Sections */
.content-section {
    padding: var(--spacing-md) 0;
    background-color: var(--color-bg);
}
.first-content-section {
    /* padding-top: var(--spacing-lg); --> jetzt mit Logos auf 0, aber lasse das noch kurzfristig bis ich sicher bin dass ich Logos behalte */
    padding-top: 0;
}
.content-section li {
    margin-left: 2.5rem;
}
.content-section ul {
    padding-left: 1.5rem;
    list-style: disc;
}
@media (max-width: 768px) {
    .content-section {
        padding: 3rem 0;
    }
    .content-section li {
        margin-left: 0.5rem;
    }
}

/* CTA Section */
.cta-section {
    padding-top: var(--spacing-lg);
    background-color: var(--color-primary);
    text-align: center;
    color: var(--color-footer-text);
}

.cta-section h3 {
    margin-bottom: 1rem;
}

.cta-section p {
    color: var(--color-footer-text);
    margin-bottom: 0;
}

/* Testimonial Sections */
.container.testimonial-box {
    background: var(--color-bg);
    border: 1px solid #E0E0E0;
    border-radius: 10px;
    padding: 30px;
    margin: 2rem auto;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.testimonial-content {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.testimonial-content picture {
    width: 140px;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 1rem;
}

.testimonial-content img {
    width:100%;
    height:100%;
    border-radius: inherit;
    object-fit: inherit;
    margin-right: inherit;
}

.testimonial-info {
    flex: 1;
}

.testimonial-text {
    color: var(--color-primary-dark);
    margin: 1rem 0;
    line-height: 1.7em;
}

.testimonial-name {
    font-weight: bold;
    font-size: 1rem;
    color: var(--color-primary-dark);
}

.testimonial-role {
    font-size: 1rem;
    color: var(--color-primary-dark);
    margin-bottom: 0;
}

@media (max-width: 768px) {
    .testimonial-content {
        display: grid;
        grid-row-gap: 0;
    }
    .testimonial-content picture {
        width: 25%;
    }
}


/* =======================
   Footer Styles
   ======================= */
footer {
    background-color: var(--color-footer-bg);
    color: var(--color-footer-text);
    padding-bottom: 1rem;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.footer-links {
    list-style: none;
    display: flex;
    gap: 1.5rem;
    margin-bottom: 1rem;
}

.footer-links li a {
    color: var(--color-footer-text);
    text-decoration: none;
    font-weight: 500;
    font-size: 1rem;
    transition: color var(--transition-speed);
}

.footer-links li a:hover,
.footer-links li a:focus {
    color: var(--color-primary);
}

.footer-content p {
    font-size: 0.9rem;
    color: var(--color-bg);
}

@media (max-width: 768px) {
    .footer-links {
        display: block;
    }
}

/* =======================
   Responsive Styles
   ======================= */

@media (max-width: 768px) {
    /* Navbar */
    .nav-links {
        position: absolute;
        right: 0;
        top: 70px;
        flex-direction: column;
        width: 100%;
        max-height: 0;
        overflow: hidden;
        transition: max-height var(--transition-speed) ease-in;
    }

    .nav-links.active {
        max-height: 300px;
    }

    .nav-links li {
        text-align: right;
        padding: 1rem 0;
        padding-right: 2.5rem;
    }

    .navbar.scrolled .nav-links {
        background-color: var(--color-bg);
    }

    .hamburger {
        display: flex;
    }

    .navbar.scrolled .hamburger {
        background: rgba(255, 255, 255, 0.3); /* Adjust based on navbar background */
    }

    .hamburger.toggle span:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
    }

    .hamburger.toggle span:nth-child(2) {
        opacity: 0;
    }

    .hamburger.toggle span:nth-child(3) {
        transform: rotate(-45deg) translate(5px, -5px);
    }

    .navbar.scrolled .hamburger span {
        background: var(--color-text); /* Change to dark color when scrolled */
    }
}

/* =======================
   Animation
   ======================= */
@keyframes scaleUp {
    from {
        transform: scale(0.8);
    }
    to {
        transform: scale(1);
    }
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideInLeft {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.fade-in {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 0.6s forwards;
}

.delay-1 {
    animation-delay: 0.3s;
}
.delay-2 {
    animation-delay: 0.6s;
}
.delay-3 {
    animation-delay: 0.9s;
}
.delay-4 {
    animation-delay: 1.2s;
}
.delay-5 {
    animation-delay: 1.5s;
}
.delay-6 {
    animation-delay: 1.8s;
}

.slide-in {
    opacity: 0;
    transform: translateX(-20px);
    animation: slideInLeft 0.6s forwards;
}

/* =======================
   Accessibility
   ======================= */
/* Reduced Motion for Accessibility */
@media (prefers-reduced-motion: reduce) {
    *, *::before, *::after {
        animation: none !important;
        transition: none !important;
    }
}